# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\university\summer-practice\test-Twilio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
